Sphera/Sphera.sln
Sphera/.vs/Sphera/v16/.suo
Sphera/.vs/Sphera/v16/Browse.VC.db
Sphera/.vs/Sphera/v16/ipch/AutoPCH/183a87fb7df2d9c/VIEWERWIDGET.ipch
Sphera/.vs/Sphera/v16/ipch/AutoPCH/90165d2aa489a8c1/MOC_IMAGEVIEWER.ipch
Sphera/.vs/Sphera/v16/ipch/AutoPCH/963be0940c31b707/MAIN.ipch
Sphera/.vs/Sphera/v16/ipch/AutoPCH/ab6de30899f1b8ba/SPHERACLASSES.ipch
Sphera/.vs/Sphera/v16/ipch/AutoPCH/b3e2df81986d801f/IMAGEVIEWER.ipch
Sphera/Sphera/Sphera.vcxproj
Sphera/Sphera/Sphera.vcxproj.filters
Sphera/Sphera/Sphera.vcxproj.user
Sphera/Sphera/x64/Debug/ImageViewer.obj
Sphera/Sphera/x64/Debug/main.obj
Sphera/Sphera/x64/Debug/moc_ImageViewer.obj
Sphera/Sphera/x64/Debug/moc_NewImageDialog.obj
Sphera/Sphera/x64/Debug/moc_ViewerWidget.obj
Sphera/Sphera/x64/Debug/qrc_ImageViewer.obj
Sphera/Sphera/x64/Debug/qt_work.log
Sphera/Sphera/x64/Debug/Sphera.exe.recipe
Sphera/Sphera/x64/Debug/Sphera.log
Sphera/Sphera/x64/Debug/vc142.pdb
Sphera/Sphera/x64/Debug/ViewerWidget.obj
Sphera/Sphera/x64/Debug/moc/moc_ImageViewer.cpp
Sphera/Sphera/x64/Debug/moc/moc_NewImageDialog.cpp
Sphera/Sphera/x64/Debug/moc/moc_ViewerWidget.cpp
Sphera/Sphera/x64/Debug/qmake/qtvars_x64_Debug.props
Sphera/Sphera/x64/Debug/rcc/qrc_ImageViewer.cpp
Sphera/Sphera/x64/Debug/Sphera.tlog/CL.command.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/CL.read.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/CL.write.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/link.command.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/link.read.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/link.write.1.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/moc.read.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/moc.write.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/rcc.read.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/rcc.write.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/Sphera.lastbuildstate
Sphera/Sphera/x64/Debug/Sphera.tlog/Sphera.write.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/uic.read.1u.tlog
Sphera/Sphera/x64/Debug/Sphera.tlog/uic.write.1u.tlog
Sphera/Sphera/x64/Debug/uic/ui_ImageViewer.h
Sphera/Sphera/x64/Debug/uic/ui_NewImgDialog.h
Sphera/Sphera/x64/Release/qmake/qtvars_x64_Release.props
Sphera/x64/Debug/Sphera.exe
Sphera/x64/Debug/Sphera.ilk
Sphera/x64/Debug/Sphera.pdb
